.App {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 65px auto 100px;
}

.App header{
  grid-column: span 12;
  background-color: antiquewhite;
}

.App aside{
  grid-column: span 2;
  background-color: turquoise;
}

.App main{
  grid-column: span 10;
  background-color: darkgreen;
}

.App footer{
  grid-column: span 12;
  background-color: orange;
}

